# Python
.venv/
__pycache__/
*.pyc

# Environment & secrets
.env

# Logs & databases
*.log
*.db
*.sqlite3

# Law documents and processed text files
law documents/
plain_texts/

# Output
qlora_lawbot_output/
