flask
pillow
pytesseract
pdf2image
sentence-transformers
redis
werkzeug
google-generativeai
numpy
pdfplumber
pypdfium2
pdfminer.six
python-docx
datasets
python-dotenv
flask_sqlalchemy
flask_login
flask_mail
flask_dance
google-auth
google-api-python-client
huggingface_hub