flask
pillow
pytesseract
pdf2image
sentence-transformers
redis
werkzeug
google-generativeai
numpy
pdfplumber
pypdfium2
pdfminer.six
python-docx
datasets
python-dotenv
flask-sqlalchemy
flask-login
flask-mail
flask-dance
google-auth
google-auth-oauthlib
google-api-python-client
huggingface-hub
requests
email-validator
SQLAlchemy
blinker
oauthlib
cryptography
Jinja2